<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Character</title>
</head>
<body>
<div class="container">
    <div class="row">
        <form action="submit-character" method="post">
            <div class="row">
                <fieldset>
                    <legend>Character Name</legend>
                    <label>First Name: <input type="text" name="fname" id="fname" <check if="{{isset(@SESSION.player)}}">value="{{@SESSION.player->getFname()}}"</check>></label>
                    <br>
                    <label>Last Name: <input type="text" name="lname" id="lname" <check if="{{isset(@SESSION.player)}}">value="{{@SESSION.player->getLname()}}"</check>></label>
                </fieldset>
            </div>
            <div class="row">
                <input type="submit" name="submit" value="Submit" class="btn-primary">
            </div>
        </form>
    </div>
</div>
</body>
</html>