<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-nav sticky-top">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="entryway">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="character-form">Edit Character</a></li>
            <li class="nav-item"><a class="nav-link" href="save">Save Character and Quit</a></li>
            <check if="{{isset(@SESSION.player)}}">
                <li class="nav-item">
                    <a class="nav-link">Name: {{@SESSION.player->getFName()}} {{@SESSION.player->getLName()}}</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="delete">Delete Character and Quit</a></li>
            </check>
        </ul>
    </nav>
    <p>You reach the end of the desert path, still thinking about the legendary treasure.
        Ahead you can see the road forks again. One path leads to some mountains and the other to a grassland.</p>
    <a href="mountains" class="btn btn-primary">To the Mountains</a>
    <a href="grassland" class="btn btn-primary">To the Grassland</a>
</div>
</body>
</html>