<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Adventure Game</title>
        <link rel="stylesheet" href="styles/home-styles.css">
    </head>
    <body>
        <div class="container text-center">
            <h1>Welcome!</h1>
            <p>
                Soon you will begin a journey down a road with many crossways, intersections, and branching pathways.
                Your story depends on the decisions you make and the paths you choose to follow.
                There are many different discoveries, adventures, and dangers on the paths ahead.
                However, before we can start, this story needs a protagonist. You need an avatar to inhabit
                so you can interact with this world of many choices.
                Let's get started.
            </p>
            <a href="create-character" class="btn-primary btn-lg">Create a Character!</a>
        </div>
    </body>
</html>